  # **Basic Python Programs**   -- By Arun Kumar

<p align="center"> <img src="https://d1jnx9ba8s6j9r.cloudfront.net/blog/wp-content/uploads/2017/06/Python-Programming-Edureka.png" /> </p>

**Q1.Write a program to print the given number is odd or even.**

In [ ]:
num = int(input("Please enter a number :"))

if num%2 == 0:
  print("the given number EVEN ")

else:
  print("the given number is ODD")

Please enter a number :25
the given number is ODD

**Q2.Write a program to find the given number is positive or negative.**

In [ ]:
num = int(input("Please enter a number :"))

if num > 0:
  print("the given number POSITIVE ")

else:
  print("the given number is NEGATIVE")

Please enter a number :-56
the given number is NEGATIVE

**Q3.Write a program to find the sum of two numbers.**

In [ ]:
def sum(a,b):
  print("sum : ", a+b)


#call function
sum(5,6)

sum :  11

**Q4.Write a program to find if the given number is prime or not.**

In [ ]:

def prime_or_not(num):
  flag = False
  if num == 1:
    print(num, "is not a prime number")
  elif num > 1:
    # check for factors
    for i in range(2, num):
        if (num % i) == 0:
            # if factor is found, set flag to True
            flag = True
            break


    if flag:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")



#call function
prime_or_not(2)

2 is a prime number

**Q5.Write a program to check if the given number is palindrome or not.**

In [ ]:
def palidrome(num):
  temp=num
  rev=0
  while(num>0):
    dig=num%10
    rev=rev*10+dig
    num=num//10

  if temp == rev :
      print("The number is palindrome!")
  else:
      print("Not a palindrome!")



#check
palidrome(121)

The number is palindrome!

**Q6.Write a program to check if the given number is Armstrong or not.**

In [ ]:
def armstrong(num):
  sum = 0
  # find the sum of the cube of each digit
  temp = num
  while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10

  # display the result
  if num == sum:
    print(num,"is an Armstrong number")
  else:
    print(num,"is not an Armstrong number")


#call function
armstrong(153)

153 is an Armstrong number

**Q7.Write a program to check if the given strings are anagram or not.**

In [ ]:

def anagram(str1,str2):

  # convert both the strings into lowercase
  str1 = str1.lower()
  str2 = str2.lower()

  # check if length is same
  if(len(str1) == len(str2)):

    # sort the strings
    sorted_str1 = sorted(str1)
    sorted_str2 = sorted(str2)

    # if sorted char arrays are same
    if(sorted_str1 == sorted_str2):
        print(str1 + " and " + str2 + " are anagram.")
    else:
        print(str1 + " and " + str2 + " are not anagram.")

  else:
    print(str1 + " and " + str2 + " are not anagram.")


#call function
anagram("race","care")

race and care are anagram.

**Q8.Write a program to find a maximum of two numbers.**

In [ ]:
def maximum(num1,num2):

  print("the maximum number : ", max(num1,num2))


#call function
maximum(5,2)

the maximum number :  5

**Q9.Write a program to find a minimum of two numbers.**

In [ ]:
def minimum(num1,num2):

  print("the minimum number : ", min(num1,num2))


#call function
minimum(5,2)

the minimum number :  2

Q10.Write a program to find a maximum of three numbers.

In [ ]:

def largest(num1,num2,num3):


  if (num1 >= num2) and (num1 >= num3):

    print("The largest number is", num1)

  elif (num2 >= num1) and (num2 >= num3):

    print("The largest number is", num2)

  else:
    print("The largest number is", num3)



#call function
largest(5,10,58)

The largest number is 58

**Q11.Write a program to find a minimum of three numbers.**

In [ ]:

def smallest(num1,num2,num3):


  if (num1 <= num2) and (num1 <= num3):

    print("The smallest number is", num1)

  elif (num2 <= num1) and (num2 <= num3):

    print("The smallest number is", num2)

  else:
    print("The smallest number is", num3)



#call function
smallest(5,10,58)

The smallest number is 5

**Q12.Write a program to find a factorial of a number.**

In [ ]:

def factorial(num):

  factorial = 1

  # check if the number is negative, positive or zero

  if num < 0:
    print("Sorry, factorial does not exist for negative numbers")

  elif num == 0:
    print("The factorial of 0 is 1")

  else:
    for i in range(1,num + 1):
      factorial = factorial*i
    print("The factorial of",num,"is",factorial)


#call function
factorial(5)

The factorial of 5 is 120

**Q13.Write a program to find a fibonacci of a number.**

In [ ]:
def fib(nterms):

  # first two terms
  n1, n2 = 0, 1
  count = 0

  # check if the number of terms is valid
  if nterms <= 0:
   print("Please enter a positive integer")

   # if there is only one term, return n1
  elif nterms == 1:
    print("Fibonacci sequence upto",nterms,":")
    print(n1)

    # generate fibonacci sequenc

  else:
    print("Fibonacci sequence:")
    while count < nterms:
      print(n1)
      nth = n1 + n2

      n1 = n2
      n2 = nth
      count += 1

#call function
fib(5)

Fibonacci sequence:
0
1
1
2
3

**Q14.Write a program to find GCD of two numbers.**

In [ ]:

def gcd(num1,num2):

  for i in range(1, min(num1, num2)):
    if num1 % i == 0 and num2 % i == 0:
        gcd = i

  print("GCD of", num1, "and", num2, "is", gcd)


#call function
gcd(25,30)

GCD of 25 and 30 is 5

### Q15.Write a program to print the following pattern.

### *
### * *
### * * *
### * * * *
### * * * * *

In [ ]:
# number of rows
rows = 5
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, i + 1):

        print("*", end=' ')

    print("\r")

*
* *
* * *
* * * *
* * * * *

### Q16.Write a program to print the following pattern.

###     *
###    * *
###   * * *
###  * * * *
### * * * * *

In [ ]:

size = 5
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    # decrementing m after each loop
    m = m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

        *
       *  *
      *  *  *
     *  *  *  *
    *  *  *  *  *

### Q17. Write a program to print the following pattern.

### 1
### 1 2
### 1 2 3
### 1 2 3 4
### 1 2 3 4 5

In [ ]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### Q18.Write a program to print the following pattern.

### 1
### 2  3
### 4  5  6
### 7  8  9  10
### 11 12 13 14 15

In [ ]:
rows = 5
number = 1

for i in range(1, rows+1):
    for j in range(1, i+1):
        print(number, end=" ")
        number += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

### Q19. Write a program to print the following pattern.

### A
### B B
### C C C
### D D D D
### E E E E E

In [ ]:
rows = 5

ascii_value = 65

for i in range(rows):
    for j in range(i+1):
        alphabet = chr(ascii_value)
        print(alphabet, end=" ")

    ascii_value += 1
    print("\n")

A

B B

C C C

D D D D

E E E E E

### Q20. Write a program to print the following pattern.

### A
### B C
### D E F
### G H I J
### K L M N O

In [ ]:
# ASCII number of 'A'
ascii_number = 65
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        character = chr(ascii_number)
        print(character, end=' ')
        ascii_number += 1
    print(" ")

A
B C
D E F
G H I J
K L M N O

<p align="center"> <img src="https://blog.teamtreehouse.com/wp-content/uploads/2017/11/Thanksgiving.png" /> </p>